<?xml version="1.0" ?>
<config>
	<modules>
		<Ifuturz_Searchbysize>
			<version>0.1.0</version>
		</Ifuturz_Searchbysize>
	</modules>	
	<frontend>
        <routers>
            <searchbysize>
                <use>standard</use>
                <args>
                    <module>Ifuturz_Searchbysize</module>
                    <frontName>searchbysize</frontName>
                </args>
            </searchbysize>		
        </routers>
        <layout>
            <updates>
                <searchbysize>
                    <file>searchbysize.xml</file>
                </searchbysize>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
			<searchbysize>
				<use>admin</use>
				<args>
					<module>Ifuturz_Searchbysize</module>
					<frontName>searchbysize</frontName>
				</args>
			</searchbysize>
        </routers>
    </admin>
	<adminhtml>
		<menu>
			<searchbysize module="searchbysize">
				<title>Search by Sizes</title>
				<sort_order>100</sort_order>
				<action>searchbysize/adminhtml_searchbysize</action>
			</searchbysize>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<searchbysize translate="title">
							<title>Search by Sizes</title>
							<sort_order>120</sort_order>
						</searchbysize>
					</children>
				</admin>
			</resources>
		</acl>		
		<layout>
			<updates>
				<searchbysize>
					<file>searchbysize.xml</file>
				</searchbysize>
			</updates>
		</layout>		
	</adminhtml>	
	<global>
		<models>
			<catalogsearch>
                <rewrite>
                    <advanced>Ifuturz_Searchbysize_Model_CatalogSearch_Advanced</advanced>
                </rewrite>
            </catalogsearch>
			<searchbysize>
				<class>Ifuturz_Searchbysize_Model</class>
				<resourceModel>searchbysize_mysql4</resourceModel>
			</searchbysize>
			<searchbysize_mysql4>
				<class>Ifuturz_Searchbysize_Model_Mysql4</class>
				<entities>
					<searchbysize>
						 <table>ifuturz_searchbysize</table>
					</searchbysize>
				</entities>
			</searchbysize_mysql4>
		</models>		
		 <resources>
            <searchbysize_setup>
                <setup>
                    <module>Ifuturz_Searchbysize</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </searchbysize_setup>
            <searchbysize_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </searchbysize_write>
            <searchbysize_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </searchbysize_read>
        </resources>		
		<blocks>
			<searchbysize>
				<class>Ifuturz_Searchbysize_Block</class>
			</searchbysize>
		</blocks>		
		<helpers>
			<searchbysize>
                <class>Ifuturz_Searchbysize_Helper</class>
            </searchbysize>
		</helpers>		
	</global>	
</config>